p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.conteiner {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

:hover,
:focus {
  outline: none;
}

button {
  font-family: inherit;
}

.body-1 {
  color: #757575;
}

.header-conteiner, .header-logo, .header-list, .header-top-adr, .button-modal-list, .checkbox-text span, .img1-text, .social-list__link, .foot-social-link {
  display: flex;
  align-items: center;
}

.conteiner-header-1 {
  border: 1px solid #eeeeee;
  width: auto;
}

.header {
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header:focus, .header:hover {
  border-color: #2196f3;
}

.header-top-logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  margin-right: 93px;
  list-style: none;
}

.header-top-logo2 {
  color: black;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .header-list {
    display: none;
  }
}

.header-item:not(:first-child) {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .header-link {
    text-decoration: none;
    color: #212121;
    position: relative;
    padding: 55px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:focus, .header-link:hover {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .header-link {
    padding: 30px 0;
  }
}

.header-top-adr {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .header-top-adr {
    display: none;
  }
}

.header-tel {
  margin-right: 50px;
}

.header-mail-link {
  text-decoration: none;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link:hover, .header-mail-link:focus {
  color: #2196f3;
}

.header-tel-link {
  text-decoration: none;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link:hover, .header-tel-link:focus {
  color: #2196f3;
}

.icon-emeil {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-telephone {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: #2196f3;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
}

.menu-open-btm {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-open-btm {
    display: none;
  }
}

.menu-open-btm:hover,
.menu-open-btm:focus {
  background-color: #2196f3;
}

.menu-open-btm span {
  width: 24px;
  height: 3px;
  background-color: #212121;
  display: block;
  position: relative;
}

.menu-open-btm span::after {
  content: '';
  width: 24px;
  height: 3px;
  background-color: #212121;
  display: block;
  position: absolute;
  top: 7px;
}

.menu-open-btm span::before {
  content: '';
  width: 24px;
  height: 3px;
  background-color: #212121;
  display: block;
  position: absolute;
  bottom: 7px;
}

.menu-close-btm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 21px;
  top: 25px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.menu-close-btm-icon {
  width: 18,67px;
  height: 18,67px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btm:hover .menu-close-btm-icon,
.menu-close-btm:focus .menu-close-btm-icon {
  fill: #2196f3;
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #ffffff;
  padding: 10px 15px 40px 40px;
  display: flex;
  justify-content: space-between;
}

.mob-menu-content {
  padding-top: 38px;
}

.mob-menu-list {
  list-style: none;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  text-decoration: none;
  transition-property: color, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:focus,
.mob-menu-link:hover {
  color: #2196F3;
  cursor: pointer;
}

.mob-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  color: #2196F3;
  display: block;
  margin-bottom: 32px;
}

.mob-menu-email {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #757575;
  display: block;
  margin-bottom: 64px;
}

.mob-menu-social {
  justify-content: flex-start;
}

.mob-menu-social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.mob-menu-social-item {
  list-style: none;
  margin-right: 20px;
}

.mob-menu-social-link {
  text-decoration: none;
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu-social-link span {
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 738px) {
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bac-mob-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bac-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bac-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bac-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bac.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bac-2x.jpg);
  }
}

.hero-logo {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero-logo {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero-logo {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    padding-right: 237px;
    padding-left: 237px;
    align-items: center;
    margin-bottom: 30px;
  }
}

.hero-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  color: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, pointer-events;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 40px;
  transition-property: close;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) and (max-width: 1600px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-titel {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal-list {
  width: auto;
  height: auto;
}

.modal-form {
  margin-bottom: 10px;
  position: relative;
}

.modal-form-coment {
  margin-bottom: 20px;
}

.modal-list-contact {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
}

.modal-list-contact:hover, .modal-list-contact:focus {
  cursor: pointer;
  border: 1px solid #2196f3;
}

.modal-list-contact:hover ~ .input-list,
.modal-list-contact:focus ~ .input-list {
  cursor: pointer;
  fill: #2196f3;
}

.modal-list-form {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-list-form:focus, .modal-list-form:hover {
  cursor: pointer;
  border: 1px solid #2196f3;
}

.modal-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 12px;
  top: 75%;
  transform: translateY(-75%);
}

.modal-list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.button-modal-list {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  margin: auto;
  margin-top: 30px;
  transition-property: box-shadow, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-list:hover, .button-modal-list:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: border-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
  border-color: #2196f3;
  border-radius: 50%;
}

.close-but-modal {
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .close-but-modal,
.close-modal:focus .close-but-modal {
  fill: #2196f3;
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.2;
  color: #757575;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.checkbox-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 7px;
  justify-content: center;
}

.modal-checkbox:checked + .checkbox-text span {
  background-color: #2196f3;
  border: none;
}

.modal-checbox-link {
  padding-left: 4px;
  color: #2196f3;
}

.about {
  background-color: #ffffff;
}

.about-all {
  color: #757575;
  list-style: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .about-all {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .about-all {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .about-all__list {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-all__list {
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .about-all__list:not(:last-child) {
    margin-right: 30px;
  }
}

.about-all__list::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  /* outline: 2px solid red; */
  /* background-size: contain; */
}

.list-1::before {
  background-image: url(../images/antenna.svg);
}

.list-2::before {
  background-image: url(../images/clock.svg);
}

.list-3::before {
  background-image: url(../images/diagram.svg);
}

.list-4::before {
  background-image: url(../images/astronaut.svg);
}

.about-all__all-1 {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-all__all-1 {
    text-align: justify;
    margin-right: 30px;
  }
}

.about-all__all-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .about-alll {
    display: none;
    background-color: #ffffff;
    padding-bottom: 94px;
  }
}

.about-alll-1 {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about-alll-img {
  list-style: none;
  display: flex;
}

.about-alll-img__img1:not(:last-child) {
  margin-right: 30px;
}

.img1-list {
  position: relative;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img1-list:hover .img1-text {
  opacity: 1;
}

.img1-list::before {
  display: inline-block;
  content: "";
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 0;
}

.img1-list:hover::before {
  opacity: 1;
}

.img1-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  position: absolute;
  height: 70px;
  width: 100%;
  opacity: 0;
  bottom: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img1-text:hover, .img1-text:focus {
  opacity: 1;
}

.our-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team-logo {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .our-team-logo {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.our-team-list__team-img {
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .our-team-list__team-img {
    flex-basis: calc(100% / 2 - 30px);
  }
  .our-team-list__team-img:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list__team-img {
    flex-basis: calc(100% / 4 - 30px);
  }
  .our-team-list__team-img:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team-list__team-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-team-list__team-work {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  list-style: none;
  margin-bottom: 30px;
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  justify-content: center;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-partners {
  background-color: #ffffff;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .social-partners {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.social-partners-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .social-partners-logo {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.social-partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: -15px;
}

.social-partners-item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .social-partners-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .social-partners-item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

@media screen and (min-width: 1200px) {
  .social-partners-item:not(:last-child) {
    margin-right: 15px;
  }
}

.social-partners-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #afb1b8;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 30px;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-partners-link:focus, .social-partners-link:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.social-partners-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-partners-link:focus .social-partners-icon,
.social-partners-link:hover .social-partners-icon {
  fill: #2196f3;
}

.foot {
  background-color: #2f303a;
}

.head-conteiner {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .head-conteiner {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .foot-conteiner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.conteiner-logo {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.fot-adres:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .fot-adres:not(:last-child) {
    margin-bottom: 9px;
  }
}

.foot-logo-1 {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.foot-logo-2 {
  color: #ffffff;
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.foot-adres {
  list-style: none;
  text-align: center;
  margin-bottom: 60px;
}

.foot-adres-1 {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-adres-1:hover, .foot-adres-1:focus {
  color: #2196f3;
}

.foot-adres-2 {
  color: #ffffff99;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-adres-2:hover, .foot-adres-2:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .social-foot {
    display: block;
    padding-top: 72px;
    padding-bottom: 100px;
    align-items: baseline;
    margin-left: 70px;
  }
}

.social-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.foot-social-link {
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-link:hover, .foot-social-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.social-list {
  margin-bottom: 60px;
}

.foot-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-link:hover .foot-social-icon,
.foot-social-link:focus .foot-social-icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-end {
    display: block;
    padding-top: 72px;
    padding-bottom: 94px;
    margin-right: 12px;
    align-items: baseline;
    margin-left: 93px;
    width: 358px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .foter-end-email {
    display: inline-flex;
  }
}

.foter-end-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.foter-email {
  width: 100%;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .foter-email {
    width: 358px;
  }
}

.foter-email:focus, .foter-email:hover {
  border: 1px solid #2196f3;
}

.foot-icon-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  align-items: center;
  text-align: center;
  cursor: pointer;
  display: flex;
  transition-property: box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .foot-icon-button {
    margin-left: 12px;
  }
}

.foot-icon-button:hover, .foot-icon-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.foot-icon-teleg {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  justify-content: center;
}

.portfolio {
  padding-top: 100px;
  padding-bottom: 94px;
}

.portfolio ul {
  list-style: none;
}

.button-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  border: none;
}

@media screen and (min-width: 768px) {
  .button-link {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-link {
    margin-bottom: 50px;
  }
}

.button-link__list:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 21px;
}

@media screen and (min-width: 768px) {
  .button-link__list:not(:last-child) {
    margin-right: 8px;
  }
}

.button-link__name {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding-left: 20px;
  padding-bottom: 6px;
  padding-right: 20px;
  padding-top: 6px;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-link__name:hover, .button-link__name:focus {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .portfolio-link {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-link:not(:nth-child(3n)) {
    margin-bottom: -30px;
    margin-right: -30px;
  }
}

.portfolio-list {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .portfolio-list {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.portfolio-list {
  display: block;
}

.portfolio-card-blok {
  position: relative;
  overflow: hidden;
}

.portfolio-card {
  display: block;
  text-decoration: none;
  cursor: pointer;
  transition-property: box-shadow, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-card-text {
  opacity: 1;
  transform: translateY(0px);
}

.portfolio-card:hover .portfolio-card-text:hover, .portfolio-card:hover .portfolio-card-text:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  opacity: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner-card {
  padding: 20px 24px;
}

.portfolio-log {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.portfolio-text {
  margin-top: 4px;
}
/*# sourceMappingURL=main.css.map */