.social-partners {
  background-color: #ffffff;
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px){
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.social-partners-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px){
  margin-bottom: 50px;
  font-size: 36px;
  }
}

.social-partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: -15px;
}

.social-partners-item{
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
  @media screen and (min-width: 768px){
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px){
    flex-basis: calc((100% - 180px) / 6);
  }
}
.social-partners-item:not(:last-child) {
  @media screen and (min-width: 1200px){
  margin-right: 15px;
  }
  }

.social-partners-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #afb1b8;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 30px;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid #2196f3;
    fill: #2196f3;
  }
}
.social-partners-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-partners-link:focus &,
  .social-partners-link:hover & {
    fill: #2196f3;
  }
}
